<?xml version="1.0" encoding="UTF-8"?>
<!-- Use this definition if using a Java EE 6 container
     This also stops Eclipse from complaining that 3.0 is not a valid version    -->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation=" http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>fede beta</display-name>
    
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <mime-mapping>        
        <extension>eot</extension>
        <mime-type>font/opentype</mime-type>
    </mime-mapping>
    <mime-mapping>        
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>        
        <extension>ttf</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.allowTextChildren</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/jlgranda.taglib.xml</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
  
    <context-param>  
        <param-name>primefaces.THEME</param-name>  
        <param-value>bootstrap</param-value>  
    </context-param>  

    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>   
	<param-name>primefaces.UPLOADER</param-name>   
	<param-value>auto</param-value>
    </context-param>
        
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <!-- This is an optional parameter, but it makes troubleshooting errors much easier.  -->
    <!-- You may want to delete it before final deployment -->
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>
    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>
   
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <!--Database-->
    <persistence-unit-ref>
        <persistence-unit-ref-name>fede/pu</persistence-unit-ref-name>
        <persistence-unit-name>fede</persistence-unit-name>
    </persistence-unit-ref>
   
    <!--Facebook signin-->
    <servlet>
        <servlet-name>fb-signin</servlet-name>
        <servlet-class>org.jlgranda.fede.servlet.facebook.signin.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fb-callback</servlet-name>
        <servlet-class>org.jlgranda.fede.servlet.facebook.signin.CallbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fb-logout</servlet-name>
        <servlet-class>org.jlgranda.fede.servlet.facebook.signin.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fb-post</servlet-name>
        <servlet-class>org.jlgranda.fede.servlet.facebook.signin.PostServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fb-signin</servlet-name>
        <url-pattern>/fb-signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fb-callback</servlet-name>
        <url-pattern>/fb-callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fb-logout</servlet-name>
        <url-pattern>/fb-logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fb-post</servlet-name>
        <url-pattern>/fb-post</url-pattern>
    </servlet-mapping>
  
    <error-page>
        <exception-type>facebook4j.FacebookException</exception-type>
        <location>/error.jsf</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error.jsf</location>
    </error-page>
    
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>

</web-app>
